# Environment variables
.env
.env.*

# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db 